<h1>
  <%= @recipe.name %>
</h1>

<h2>
  <%= @recipe.cooking_time %>
  <%= @recipe.difficulty %>
  <img src= "<%= @recipe.photo %>" class= recipe_photo>
</h2>

<p>   <%= @recipe.description %> </p>

<p> <a href="/"> Home </a> </p>
